<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 3</title>
    <link rel="stylesheet" type="text/css" href="tem3.css">
</head>
<body>
    <div class="container">
        <header>
            <a href="#"><img src="../img/logo1-fpt.jpg"></a>
        </header>
        <nav>
            <div class="menu">
                <ul class="them1">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Đào tạo</a></li>
                    <li>
                        <a href="#">Tuyển sinh</a>
                        <ul class="them2">
                            <li><a href="#">khóa học 17.1</a></li>
                            <li><a href="#">khóa học 17.2</a></li>
                            <li><a href="#">khóa học 18.1</a></li>
                            <li><a href="#">khóa học 18.2</a></li>
                        </ul> 
                    </li>
                    <li><a href="#">Hoạt động</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="search">
                <input type="search" placeholder="search"></search>
                <button >Tìm kiếm</button>
            </div>
        </nav>
        <div class="logo">
            <img src="../img/logo-fpt.jpg">
        </div>
        <main>
            <article>
                <h2>Tin tức học tập</h2>
                <div class="list">
                    <div class="new-list">
                        <h4>Sinh viên FPT Polytechnic giành quán quân "FPTHackathon 2018"</h4>
                        <img src="../img/fpt1.jpg">
                        <p>Nhà trường có đầy đủ phòng thực hành máy tính và phòng tự học có trang bị máy tính cho sinh viên. Có máy vi tính riêng sẽ tốt cho bạn đặc biệt khi học Công nghệ thông tin nhưng đó không phải là quy định bắt buộc</p>
                    </div>
                    <div class="new-list">
                        <h4>Sinh viên FPT Polytechnic giành quán quân "FPTHackathon 2018"</h4>
                        <img src="../img/fpt1.jpg">
                        <p>Nhà trường có đầy đủ phòng thực hành máy tính và phòng tự học có trang bị máy tính cho sinh viên. Có máy vi tính riêng sẽ tốt cho bạn đặc biệt khi học Công nghệ thông tin nhưng đó không phải là quy định bắt buộc</p>
                    </div>
                    <div class="new-list">
                        <h4>Sinh viên FPT Polytechnic giành quán quân "FPTHackathon 2018"</h4>
                        <img src="../img/fpt1.jpg">
                        <p>Nhà trường có đầy đủ phòng thực hành máy tính và phòng tự học có trang bị máy tính cho sinh viên. Có máy vi tính riêng sẽ tốt cho bạn đặc biệt khi học Công nghệ thông tin nhưng đó không phải là quy định bắt buộc</p>
                    </div>
                </div>
            </article>
            <article>
                <h2>Hoạt động tình nguyện</h2>
                <div class="list">
                    <div class="new-list">
                        <h4>Sinh viên FPT Polytechnic giành quán quân "FPTHackathon 2018"</h4>
                        <img src="../img/fpt1.jpg">
                        <p>Nhà trường có đầy đủ phòng thực hành máy tính và phòng tự học có trang bị máy tính cho sinh viên. Có máy vi tính riêng sẽ tốt cho bạn đặc biệt khi học Công nghệ thông tin nhưng đó không phải là quy định bắt buộc</p>
                    </div>
                    <div class="new-list">
                        <h4>Sinh viên FPT Polytechnic giành quán quân "FPTHackathon 2018"</h4>
                        <img src="../img/fpt1.jpg">
                        <p>Nhà trường có đầy đủ phòng thực hành máy tính và phòng tự học có trang bị máy tính cho sinh viên. Có máy vi tính riêng sẽ tốt cho bạn đặc biệt khi học Công nghệ thông tin nhưng đó không phải là quy định bắt buộc</p>
                    </div>
                    <div class="new-list">
                        <h4>Sinh viên FPT Polytechnic giành quán quân "FPTHackathon 2018"</h4>
                        <img src="../img/fpt1.jpg">
                        <p>Nhà trường có đầy đủ phòng thực hành máy tính và phòng tự học có trang bị máy tính cho sinh viên. Có máy vi tính riêng sẽ tốt cho bạn đặc biệt khi học Công nghệ thông tin nhưng đó không phải là quy định bắt buộc</p>
                    </div>
                </div>
            </article>
        </main>
        <footer>Vũ thanh hằng</footer>
    </div>     
</body>
</html>