<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 4</title>
    <link rel="stylesheet" type="text/css" href="tem4.css">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav1">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Jackets</a></li>
                <li><a href="#">Blazers</a></li>
                <li><h2><del>VTH</del></h2></li>
                <li><a href="#">Dresses</a></li>
                <li><a href="#">T-shirts</a></li>
                <li><a href="#">Shirts</a></li>
            </ul>
        </div>
    </nav>
    <div class="slide">
        <div class="center">
            <img width="630px" height="410px" src="../img/jennie-slide.jpg">
            <img width="570px" height="410px" src="../img/jenne-slide1.jpg">
        </div>
        <div class="left">
            <h2><i>Free</i> Shipping</h2>
            <p>Thời trang chính là vỏ bọc sắt để đấu tranh với thực tại trong cuộc sống hàng ngày</p>
            <button class="nut">BROWSE</button>
        </div>
        <div class="right">
            <button class="hidden"><</button>
            <button class="hidden">></button>
        </div>
    </div>
    <header>
        <div class="bn1">
            <img src="../img/j-b11.jpg">
        </div>
        <div class="bn2">
            <img src="../img/j-b1.jpg">
        </div>
        <div class="bn3">
            <img src="../img/j-b22.jpg">
        </div>
    </header>
    <article>
        <h1>Featured Products</h1>
        <div class="content">
            <div class="layer1">
                <a href="#"><img src="../img/somi1.PNG" title="shirt"></a>
                <a href="#"><img src="../img/somi2.PNG" title="stylized shirt"></a>
                <a href="#"><img src="../img/somi3.PNG" title="croptop"></a>
                <a href="#"><img src="../img/somi4.PNG" title="dress"></a>
            </div>
            <div class="layer2">
                <h3>$52.<small>00</small></h3>
                <h3>$72.<small>00</small></h3>
                <h3>$90.<small>00</small></h3>
                <h3>$68.<small>00</small></h3>
            </div>
            <div class="layer3">
                <button>BUY NOW</button>
                <button>BUY NOW</button>
                <button>BUY NOW</button>
                <button>BUY NOW</button>
            </div>
        </div>
    </article>
    <footer>
        <div class="f1">
            <p>CORPORATE INFO</p>
            <div class="foot1">
                <ul>
                    <li><a href="#">Career at <del class="vth1">VTH</del></a></li>
                    <li><a href="#">About <del class="vth1">VTH</del> group</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Investor Relations</a></li>
                </ul>
            </div>
        </div>
        <div class="f2">
            <p>HELP</p>
            <div class="foot2">
                <ul>
                    <li><a href="#">Customes Service</a></li>
                    <li><a href="#">Enable high contrast mode</a></li>
                </ul>
            </div>
        </div>
        <h5>"Whoever said that money can't buy happiness, simply didn't know where to go shopping."</h5>
        <div class="vth">_<del>VTH</del>_</div>
        <div class="end">
            <a href="https://www.facebook.com/BLACKPINKOFFICIAL" target="_blank"><img src="../img/facebook.png"></a>
            <a href="https://www.instagram.com/blackpinkofficial/" target="_blank"><img src="../img/insta.png"></a>
            <a href="https://twitter.com/BLACKPINK"><img src="../img/twitter.png" target="_blank"></a>
        </div>
    </footer>
</body>
</html>